@-webkit-keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
/* -------------CONTACTO----------------- */
.container__section__contacto{
    margin-top: 110px;
}
.container__type {
display: flex;
flex-direction: column;
margin: 20px;
    h2 {
        width: 50%;
        text-align: center;
        color:map-get($color,celeste-oscuro);
        font-size: 30px;
        }
}
.type {
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
.container__form{
    height: 100%;
    width: 40%;
}
.form__flex {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
border: solid 0.5px map-get($color,black);
background:map-get($color,white);
box-shadow:0 4px 8px 0;  
}
.datos {
display: flex;
flex-direction: column;
margin: 5px;
width: 100%;
    label {
    color:map-get($color,azul);
    padding: 5px;
    font-size: 20px;
    }
}
.datos input {
width: 90%;
margin: 0 5% 0 5%;
}
.datos textarea {
width: 90%;
height: 80%;
margin: 0 5% 0 5%;
}
.submit {
display: flex;
justify-content: center;
align-items: center;
width: 90%;
margin: 5px;
    input {
    background:map-get($color,celeste);
    color:map-get($color,azul);
    width: 100%;
    }
}
.submit:hover input {
background:map-get($color,azul);
color:map-get($color,white);
}
.container__contacto {
    display: flex;
    justify-content:center;
}
.contacto {
display: flex;
justify-content: space-between;
width: 30%;
    div {
    display: flex;
    align-items: center;
    width: 100%;
        i {
        margin: 10px;
        }
    }
}
.contacto button {
color:map-get($color,azul);
border: 1px solid map-get($color,azul);
width: 100%;
}
.btn-group {
height: min-content;
}
.btn-group:hover .btn-primary {
background:map-get($color,azul);
}

/* --------MEDIA QUERIES---------- */

@media only screen and (max-width: 576px) {
.container__form {
    height: 100%;
    width: 90%;
}
.submit input {
    margin-bottom: 10px;
}
.contacto{
    width: 100%;
}
.container__type h2{
    width: 100%;
    font-size: 25px;
}
.datos label {
    font-size: 18px;
}
.type {
    flex-direction: column;
    margin-top: 20px;
        h2 {
        margin: 10px;
        }
}
.dato{
width: 250px;
    input {
    width: 355px;
    }
}
.encabezado__type{
    justify-content: center;
}
.maps{
    margin: 55px;
}
.btn-group{
    width: 50%;
}
.boton{
    width: 100%;
}
.btn-primary{
width: 100%;
}
}