
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
/* ---------CURSOS--------- */
.container__section__curso{
    margin-top: 100px;
}
.curso__h1{
color:map-get($color,celeste-oscuro);
font-size: 30px;
text-align: center;
-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.container__video {
display: flex;
flex-direction: column;
margin: 20px;
    p {
    text-align: center;
    }
}
.video {
display: flex;
justify-content: center;
height: 450px;
}
#descarga {
color:map-get($color,celeste-oscuro);

font-size: 30px;
margin: 20px 0 20px 15px;
}
.container__download {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
column-gap: 2px;
row-gap: 12px;
justify-items: center;
    img {
    width: 90%;
    height: 90%;
    margin: 5%;
    cursor: pointer;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
        &:hover {
        border-radius: 6px;
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        }
    }
}
.card {
    width: 90%;
    height: 100%;
    img {
    width: 90%;
    height: 60%;
    }
}
.card-body {
height: 100%;
padding: inherit;
    h5 {
    color:map-get($color,celeste-oscuro);
    font-weight: bold;
    }
}
.card-text:last-child {
    margin-bottom: 0;
    padding: 0 5px 0 5px;
}
.card-datos {
height: 30%;
display: flex;
    a {
    color:map-get($color,celeste-oscuro);
    text-decoration: none;
    width:50%;
        &:hover {
        color:map-get($color,azul);
        font-weight: bold;
        }
    }
}
.link {
width: 70%;
display: flex;
align-items: center;
justify-content: center;
}
.btn-primary {
background:map-get($color,celeste);
border: 1px map-get($color,celeste-oscuro);
padding: 3px;
margin: 5px;
}

/* --------MEDIA QUERIES---------- */

@media only screen and (max-width: 576px) {
.curso__h1 {
font-size: 25px;
}
.video{
    height: 300px;
}
#descarga {
text-align: center;
}
.container__video h1 {
font-size: 25px;
}
.container__download {
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(9, 1fr);
column-gap: 1px;
row-gap: 5px;
}
.download__flex {
width: 70%;
height: 92%;
}
.card {
width: 33rem;
height: 510px;
    img {
    width: 470px;
    height: 330px;   
    }
}
}