/*COLORES*/
:root {
--azul:#002B5B;
--azul_transp: #264872b5;
--azul2:#2B4865;
--celeste-oscuro:#256D85;
--celeste:#8FE3CF;
--white:white;
}
* {
margin: 0;
padding: 0;
font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*-------------INDEX---------------------*/
.title-h1{
    color: var(--celeste-oscuro);
    font-size: 30px;
    text-align: center;
}
.container__flex {
display: flex;
flex-direction: column;
    h2 {
    color: var(--celeste-oscuro);
    text-align: center;
    margin-top: 10px;
        }
}
.article__flex {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 1%;
        img {
        width: 400px;
        height: 250px;
            div p {
            text-align: center;           
        }
}
}   
.article {
width: 400px;
display: flex;
flex-direction: column;
margin: 2%;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {

    .title-h1{
        font-size: 25px;
    }

}