@-webkit-keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
/* ------------------NOSOTROS---------------- */
.container__section__nosotros{
    margin-top: 120PX;
    h1 {
        text-align: center;
        font-size: 30px;
        width: 100%;
        color:map-get($color,celeste-oscuro);
        -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
}
.container__nosotros {
display: flex;
flex-direction: column;
margin-top: 20px;
}
.carousel-dark .carousel-caption{
    background: map-get($color,white-transp);
}
.nosotros__encabezado {
display: flex;
justify-content: space-between;
align-items: center; 
}
.slider__nosotros {
width: 100%;
height: 450px;
display: flex;
align-items: center;
justify-content: center;
    h5 {
    font-size: 25 px;
    color:map-get($color,black);
    }
    p {
    font-size: 15px;
    color: black;
    }
}
.nosotros__text {
text-align: center;
}

/* --------MEDIA QUERIES---------- */

@media only screen and (max-width: 576px) {
.container__section__nosotros  h1 {
    font-size: 25px;
    }
.slider__nosotros {
flex-direction: column;
align-items: center;
height: 240px;
}
}