
/* ---TIENDA---------------------- */
.container__section__tienda{
    margin-top: 130px;
}
.text__h1{
color: map-get($color,celeste-oscuro);
font-size: 30px;
text-align: center;
width: 30%;
margin-left: 35%;
position: relative;
}
.text__h1::after{
    content: "";
    width: 0;
    height: 2px;
    background: map-get($color,celeste);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.text__h1:hover:after{
width: 100%;
right: 0;
}
.tienda__flex {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
justify-items: center;
align-items: center;
}
.container__tienda {
position: relative;
margin: 10px;
width: 90%;
height: 94%;
display: flex;
align-items: center;
overflow: hidden;
cursor: pointer;
border-radius: 15px;
}
.container__tienda img {
    width: 100%;
    height: 98%;
    }
.tienda__tex {
display: flex;
flex-direction: column;
align-items: center;
color: map-get($color,white);
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: map-get($color,azul_transp);
opacity: 0;
visibility: hidden;
text-align: center;
    i:hover {
    color:map-get($color,black);
    }
}
.container__tienda:hover > .tienda__tex {
opacity: 1;
visibility: visible;
transition: all 600ms ease-out;
-webkit-transition: all 600ms ease-out;
-moz-transition: all 600ms ease-out;
-ms-transition: all 600ms ease-out;
-o-transition: all 600ms ease-out;
}
.container__tienda:hover > img {
transform: scale(1.3);
-webkit-transform: scale(1.3);
-moz-transform: scale(1.3);
-ms-transform: scale(1.3);
-o-transform: scale(1.3);
transition: all 600ms ease-out;
-webkit-transition: all 600ms ease-out;
-moz-transition: all 600ms ease-out;
-ms-transition: all 600ms ease-out;
-o-transition: all 600ms ease-out;
}
.carrito {
width: 28px;
height: 28px;
border: 1px solid var(--celeste-oscuro);
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
background: map-get($color,white);
}
.tienda__tex:hover > p {
margin-top: 60px;
transition: all 600ms ease-out;
-webkit-transition: all 600ms ease-out;
-moz-transition: all 600ms ease-out;
-ms-transition: all 600ms ease-out;
-o-transition: all 600ms ease-out;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {

.text__h1{
margin: 0;
width: 100%;
font-size: 25px;
}
.tienda__flex {
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
}
.container__tienda{
width: 266px;
height: 250px;
}
}


