* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*COLORES*/
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/*-------------INDEX---------------------*/
.carousel-item img {
  margin-left: 14px;
}

.title__h1 {
  color: #4267B2;
  font-size: 30px;
  text-align: center;
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.container__flex {
  display: flex;
  flex-direction: column;
}
.container__flex h2 {
  color: #4267B2;
  text-align: center;
  margin-top: 10px;
}

.article__flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1%;
}

.article {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.article img {
  width: 400px;
  height: 250px;
}
.article h3 {
  padding: 10px;
  height: 70px;
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #4267B2;
}
.article p {
  padding: 10px;
  height: 70px;
  text-align: center;
}
.article a {
  border: 1px solid #8FE3CF;
}
.article a:hover {
  background: rgba(143, 227, 207, 0.4588235294);
}
.article a i {
  color: #C13584;
  transition: 0.5s;
  margin: 190px;
}
.article a i:hover {
  color: #25D366;
  transition: 0.5s;
}
.article h4 {
  text-align: center;
  color: #25D366;
  font-size: 20px;
  transition: 0.5s;
}
.article h4:hover {
  font-size: 22px;
  transition: 0.5s;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  .carousel-item img {
    width: 100%;
    margin: 0;
  }
  .title__h1 {
    font-size: 25px;
  }
  .carousel-inner {
    width: 100%;
  }
}
/* ---TIENDA---------------------- */
.text__h1 {
  color: #4267B2;
  font-size: 30px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  position: relative;
}

.text__h1::after {
  content: "";
  width: 0;
  height: 2px;
  background: #8FE3CF;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.text__h1:hover:after {
  width: 100%;
  right: 0;
}

.tienda__flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.container__tienda {
  position: relative;
  margin: 10px;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
}

.container__tienda img {
  width: 100%;
  height: 98%;
}

.tienda__tex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 72, 114, 0.7098039216);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.tienda__tex i:hover {
  color: black;
}

.container__tienda:hover > .tienda__tex {
  opacity: 1;
  visibility: visible;
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
}

.container__tienda:hover > img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
}

.carrito {
  width: 28px;
  height: 28px;
  border: 1px solid var(--celeste-oscuro);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: white;
}

.tienda__tex:hover > p {
  margin-top: 60px;
  transition: all 600ms ease-out;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  .tienda__flex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
/* ---------CURSOS--------- */
.curso__h1 {
  color: #4267B2;
  font-size: 30px;
  text-align: center;
}

.container__video {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.container__video p {
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  height: 320px;
}

#descarga {
  color: #4267B2;
  font-size: 30px;
  margin: 20px 0 20px 15px;
}

.container__download {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 20px;
  justify-items: center;
}
.container__download img {
  width: 90%;
  height: 90%;
  margin: 5%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.container__download img:hover {
  border-radius: 6px;
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card {
  height: 350px;
}
.card img {
  height: 200px;
}

.card-body {
  height: 75px;
  padding: inherit;
}
.card-body h5 {
  color: #4267B2;
  font-weight: bold;
}

.card-datos {
  height: 40px;
  display: flex;
}
.card-datos a {
  color: #4267B2;
  text-decoration: none;
}
.card-datos a:hover {
  color: #002B5B;
  font-weight: bold;
}

.link {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background: #8FE3CF;
  border: 1px #4267B2;
  padding: 3px;
  margin: 5px;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  .curso {
    width: 100%;
  }
  #descarga {
    text-align: center;
  }
  .container__video h1 {
    font-size: 25px;
  }
  .container__download {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1px;
    row-gap: 5px;
  }
  .download__flex {
    width: 70%;
    height: 92%;
  }
}
/* ------------------NOSOTROS---------------- */
.container__nosotros {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.carousel-dark .carousel-caption {
  background: rgba(255, 255, 255, 0.585);
}

.nosotros__encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nosotros__encabezado img {
  width: 100px;
  height: 100px;
}
.nosotros__encabezado h1 {
  font-size: 30px;
  width: 100%;
  color: #4267B2;
}

.slider__nosotros {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__nosotros h5 {
  font-size: 25 px;
  color: black;
}
.slider__nosotros p {
  font-size: 15px;
  color: black;
}

.nosotros__text {
  text-align: center;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  .nosotros__encabezado {
    justify-content: flex-start;
  }
  .nosotros__encabezado h1 {
    font-size: 25px;
  }
  .slider__nosotros {
    flex-direction: column;
    align-items: center;
    height: 240px;
  }
}
/*COLORES*/
:root {
  --azul:#002B5B;
  --azul_transp: #264872b5;
  --azul2:#2B4865;
  --celeste-oscuro:#256D85;
  --celeste:#8FE3CF;
  --white:white;
}

/* -------------CONTACTO----------------- */
.container__type {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.encabezado__type {
  display: flex;
  align-items: center;
}
.encabezado__type h2 {
  color: #4267B2;
  font-size: 30px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type h2 {
  color: #4267B2;
  font-size: 25px;
}

.form__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360px;
  border: solid 0.5px black;
  background: white;
  box-shadow: 0 4px 8px 0;
}

.datos {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.datos label {
  color: #002B5B;
  padding: 5px;
  margin: 5px;
}

.datos input {
  width: 370px;
}

.datos textarea {
  width: 370px;
  height: 100px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.submit input {
  background: #8FE3CF;
  color: #002B5B;
  width: 100%;
}

.submit:hover input {
  background: #002B5B;
  color: white;
}

.container__contacto {
  margin: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.maps {
  margin-right: 50px;
}

.contacto {
  display: flex;
  justify-content: space-between;
}
.contacto div {
  display: flex;
  align-items: center;
}
.contacto div i {
  margin: 10px;
}

.contacto button {
  color: #002B5B;
  border: 1px solid #002B5B;
}

.btn-group {
  height: min-content;
}

.btn-group:hover .btn-primary {
  background: #002B5B;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  .type {
    margin-top: 20px;
  }
  .type h2 {
    margin: 10px;
  }
  .dato {
    width: 250px;
  }
  .dato input {
    width: 355px;
  }
  .encabezado__type {
    justify-content: center;
  }
  .contacto {
    margin-right: 30px;
  }
  .maps {
    margin: 55px;
    margin-left: 160px;
  }
  .container__contacto {
    flex-direction: column;
  }
  .btn-group {
    width: 50%;
  }
  .boton {
    width: 100%;
  }
  .btn-primary {
    width: 100%;
  }
}
/*--HEADER COMUN A TODAS LAS PAGINAS -----------*/
header {
  height: 100px;
}

.container-fluid {
  height: 80px;
}
.container-fluid img {
  width: 180px;
  height: 160px;
}

/* --FOOTERS COMUN A TODAS LAS PAGINAS ------------*/
.footer, .redes {
  display: flex;
  justify-content: space-around;
}
.footer p, .redes p {
  margin-left: 55px;
  padding: 5%;
  text-align: center;
}

.flex__divisoria {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex__divisoria2 {
  display: flex;
}

.divisoria {
  display: flex;
  justify-content: center;
}
.divisoria img {
  width: 30%;
  height: 100%;
}

.footer__menu {
  width: 15%;
}
.footer__menu li {
  list-style: none;
}
.footer__menu li a {
  text-decoration: none;
}
.footer__menu li a:hover {
  font-weight: bold;
  color: #4267B2;
}
.footer__menu li a:hover:hover {
  color: #C13584;
}

.footer__menu li a.activo2 {
  font-weight: bold;
  color: #C13584;
}

.redes__flex {
  margin-left: 140px;
}

.redes {
  align-items: center;
  width: 15%;
}
.redes img {
  width: 20px;
  height: 20px;
}

.redes__f {
  display: flex;
  align-items: center;
}
.redes__f a {
  color: #4267B2;
}

.redes__w {
  display: flex;
  align-items: center;
}
.redes__w a {
  color: #25D366;
}

.redes__i {
  display: flex;
  align-items: center;
}
.redes__i a {
  color: #C13584;
}

/* --------MEDIA QUERIES---------- */
@media only screen and (max-width: 576px) {
  /*--HEADER-----------*/
  .navbar > .container-fluid {
    flex-wrap: nowrap;
  }
  /* ---------FOOTERS------------*/
  .flex__divisoria2 {
    flex-direction: column;
  }
  .footer__menu {
    height: 10px;
  }
  .footer__menu nav {
    width: 450px;
    margin-left: 50px;
  }
  .footer__menu nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .footer p, .redes p {
    margin: 0;
    width: 450px;
    padding: 10px;
    font-size: 15px;
  }
  .redes {
    flex-direction: row;
    width: 100%;
  }
  .redes__flex {
    height: 50px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 65px;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
